@import "tailwindcss"; 

@media screen and (max-width:900px) {

.content-text{
  padding: 20px 5px;
}
.content-title {
  font-size: large;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  margin-top: 5px;
}

.content-desc {
  font-size: medium;
  margin-bottom: 30px;
}

.btn-secondary, .btn-primary {
  font-size: small;
  padding: 10px ;
}
.btn-primary {
  margin-bottom: 5px;
}

.content-image {
  display: none;
}
.cre-con{
  margin-top: 25px;
}
.form-box {
    width: 95%;
    padding: 50px 30px ;
  }
.form-area{
  padding: 0px 28px;
}
  .form-title {
    font-size: larger;
    text-align: center;
    margin-bottom: 30px;
  }

  .form-row {
    gap: 10px;
  }

  .form-label {
    text-align: left;
    font-size: medium;
  }

  .form-input {
    font-size: small;
    width: 100%;
  }

  .form-btn {
    width: 100%;
    font-size: medium;
  }

  .abt-container{
    margin: 20px 0;
  }

  .abt-box{
    width: 90%;
    padding: 40px  ;
  }
  .abt-title{
    font-size: larger;
    margin-bottom: 20px;
  }
  .abt-content{
    font-size: medium;
  }
  .con-box{
    width: 90%;
  }
  .con-title{
    font-size: larger;
    margin-bottom: 10px;
  }
  .con-btn{
    font-size: 14px;
  }

  .fot-con{
    flex-wrap: wrap;
    padding: 15px 30px;
    gap: 20px;
  }
  .fot-content{
    font-size: small;
  }
  .fot-title{
    font-size: medium;
  }
  .foot-title{
    font-size: small;
    font:bold
  }
  .foot-content{
    font-size: x-small;
  }
  .std-container{
    padding: 10px;
  }
  .std-box{
    padding: 20px;
  }
  .std-title{
    font-size: larger;
  }
  .std-content{
    font-size: medium;
  }
  .std-photo{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 1px;
  }
  .std-name{
    font-size: medium;
  }
  .std-id, .std-dep, .std-year, .std-core, .std-save{
    font-size: small;
  }
  .std-btn{
    font-size: x-small;
    padding: 10px;
  }
  .std-area{
    padding: 20px 10px;
  }
  .std-1{
    flex-grow: 1;
  }
  .std-2{
    flex-grow: 2;
  }
  .nav{
    display: flex;
    flex-direction: column;
  }
  .nav-box{
    padding: 10px;
  }
  .nav-logo{
    display: flex;
    justify-content: center;
  }
  .nav-logo img {
    width: 50px;
    margin-right: 2px;
  }
  .nav-title{
    font-size: large;
  }
  .nav-content{
    font-size: small;
    justify-content:center;
    padding: 5px;
  }

}